// BREAKPOINTS
$xs: 360px;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;
$xxxl: 1920px;

// COMMON VARIABLES
$accent-color: #2673e8;
$secondary-color: #667080;
$max-page-width: 1920px;

// FONT VARIABLES
$text-size: 1.25vw;
$line-height: 1.5;
$basic-font: 'Roboto Mono', Arial, system-ui, sans-serif;
$secondary-font: 'Inter', Arial, system-ui, sans-serif;

// LIGHT THEME VARIABLES
$text-primary-color: rgba(0, 0, 0, 1);
$text-secondary-color: #64748b;
$title-color: #000000;
$subtitle-color: #667080;
$background-color: #ffffff;
$border-color: #e5e5e6;


// DARK THEME VARIABLES
// $dark-text-primary-color: #e2e8f0;
// $dark-text-secondary-color: #cbd5e1;
// $dark-title-color: #334155;
// $dark-subtitle-color: #475569;
// $dark-background-color: #0f172a;
// $dark-border-color: #334155;
// $dark-label-color: #cbd5e1;
// $dark-label-background-color: #334155;