section.key-projects 
  .key-projects__wrapper.container
    p.subtitle.key-projects__subtitle Some things I have built
    h2.title.title--secondary.key-projects__title Key projects
    .key-projects__list
      article.key-projects__card
        .key-projects__image-wrapper.key-projects__image-wrapper--first
          //- img(src='/assets/images/key-project-1.png' width='340' height='210' alt='Snapshot of Git Cheatsheet project')
        .key-projects__inner-wrapper
          h3.title.title--third.key-projects__card-title Git Cheatsheet
          p.key-projects__text
            | The git cheatsheet site offers a concise reference for commonly 
            | used Git commands. It provides a quick guide for version control 
            | tasks, including repository management, commits, branching, 
            | merging, and collaboration. The site presents commands, 
            | descriptions, and usage examples in an organized format for easy 
            | access.
          ul.key-projects__techstack-list.list.list--horizontal
            li.key-projects__techstack-item PUG
            li.key-projects__techstack-item CSS3
            li.key-projects__techstack-item Gulp
            li.key-projects__techstack-item Bootstrap
          ul.key-projects__demo-list.list.list--horizontal
            li.key-projects__demo-item
              a(href='https://github.com/Vyachowski/vyachowski.com' aria-label='Link to Git-quickstart Github page')
                svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' stroke='currentColor' fill='none')
                  g(clip-path='url(#clip0_1_39362)')
                    path(d='M9 18.9999C4 20.4999 4 16.4999 2 15.9999M16 21.9999V18.1299C16.0375 17.6531 15.9731 17.1737 15.811 16.7237C15.6489 16.2737 15.3929 15.8634 15.06 15.5199C18.2 15.1699 21.5 13.9799 21.5 8.51994C21.4997 7.12376 20.9627 5.78114 20 4.76994C20.4559 3.54844 20.4236 2.19829 19.91 0.999938C19.91 0.999938 18.73 0.649938 16 2.47994C13.708 1.85876 11.292 1.85876 9 2.47994C6.27 0.649938 5.09 0.999938 5.09 0.999938C4.57638 2.19829 4.54414 3.54844 5 4.76994C4.03013 5.78864 3.49252 7.1434 3.5 8.54994C3.5 13.9699 6.8 15.1599 9.94 15.5499C9.611 15.8899 9.35726 16.2953 9.19531 16.7399C9.03335 17.1844 8.96681 17.658 9 18.1299V21.9999' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                      defs
                        clippath(id='clip0_1_39362')
                          rect(width='24' height='24', fill='white')
            li.key-projects__demo-item
              a(href='https://vyachowski.com' rel='nofollow' aria-label='Link to this site')
                svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' stroke='currentColor' fill='none')
                  path(d='M18 13V19C18 19.5304 17.7893 20.0391 17.4142 20.4142C17.0391 20.7893 16.5304 21 16 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V8C3 7.46957 3.21071 6.96086 3.58579 6.58579C3.96086 6.21071 4.46957 6 5 6H11' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                  path(d='M15 3H21V9'  stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                  path(d='M10 14L21 3' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
      article.key-projects__card.key-projects__card--reversed
        .key-projects__image-wrapper.key-projects__image-wrapper--second
          //- img(src='/assets/images/key-project-2.png' width='340' height='210' alt='Snapshot of Git Cheatsheet project')
        .key-projects__inner-wrapper
          h3.title.title--third.key-projects__card-title Vyachowski.com
          p.key-projects__text
            | The personal front-end developer site showcases skills, projects, 
            | and experience. It presents a portfolio of work, highlights 
            | proficiency in HTML, CSS, JavaScript, and frameworks. The site 
            | features a blog section for sharing insights, tips, and trends. 
            | Visitors learn about the developer's background, expertise, and 
            | contact information.
          ul.key-projects__techstack-list.list.list--horizontal
            li.key-projects__techstack-item PUG
            li.key-projects__techstack-item CSS3
            li.key-projects__techstack-item JS
            li.key-projects__techstack-item NPM Scripts
          ul.key-projects__demo-list.list.list--horizontal
            li.key-projects__demo-item
              a(href='https://github.com/Vyachowski/git-quickstart' aria-label='Link to Git-quickstart Github page')
                svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' stroke='currentColor' fill='none')
                  g(clip-path='url(#clip0_1_39362)')
                    path(d='M9 18.9999C4 20.4999 4 16.4999 2 15.9999M16 21.9999V18.1299C16.0375 17.6531 15.9731 17.1737 15.811 16.7237C15.6489 16.2737 15.3929 15.8634 15.06 15.5199C18.2 15.1699 21.5 13.9799 21.5 8.51994C21.4997 7.12376 20.9627 5.78114 20 4.76994C20.4559 3.54844 20.4236 2.19829 19.91 0.999938C19.91 0.999938 18.73 0.649938 16 2.47994C13.708 1.85876 11.292 1.85876 9 2.47994C6.27 0.649938 5.09 0.999938 5.09 0.999938C4.57638 2.19829 4.54414 3.54844 5 4.76994C4.03013 5.78864 3.49252 7.1434 3.5 8.54994C3.5 13.9699 6.8 15.1599 9.94 15.5499C9.611 15.8899 9.35726 16.2953 9.19531 16.7399C9.03335 17.1844 8.96681 17.658 9 18.1299V21.9999' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                      defs
                        clippath(id='clip0_1_39362')
                          rect(width='24' height='24', fill='white')
            li.key-projects__demo-item
              a(href='https://codebless.me' aria-label='Link to Git-quickstart site')
                svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' stroke='currentColor' fill='none')
                  path(d='M18 13V19C18 19.5304 17.7893 20.0391 17.4142 20.4142C17.0391 20.7893 16.5304 21 16 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V8C3 7.46957 3.21071 6.96086 3.58579 6.58579C3.96086 6.21071 4.46957 6 5 6H11' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                  path(d='M15 3H21V9' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                  path(d='M10 14L21 3' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')