.menu-toggle {
  position: relative;
  // top: 50%;
  // right: 10px;
  // translate: 0 -50%;
  z-index: 10;
  width: 25px;
  height: 18px;
  margin-left: -25px;
  padding: 0;
  border: 0;
  background-color: transparent;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;

  @media (min-width: $lg) {
    display: none;
  }

  &__line {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background: #667080;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  &__line:nth-child(1) {
    top: 0px;
  }

  &__line:nth-child(2) {
    top: 9px;
  }

  &__line:nth-child(3) {
    top: 18px;
  }

  &--open .menu-toggle__line:nth-child(1) {
    top: 9px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  &--open .menu-toggle__line:nth-child(2) {
    opacity: 0;
    left: -60px;
  }

  &--open .menu-toggle__line:nth-child(3) {
    top: 9px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
}
