mixin contact-form
  section.contact-form 
    .contact-form__wrapper.container
      .contact-form__text-wrapper
        p.subtitle Contacts
        h2.title Keep in touch
        p
          | I am totally open to a new job and new contacts so let’s discuss it in any 
          | convenient way. 
      form.contact-form__form(action='#' method='get') 
        p.contact-form__field
          label.contact-form__label(for="index_textarea")
          textarea#index_textarea(name="index_textarea", cols="15", rows="5") Hi, Slava...
        p.contact-form__field
          label.contact-form__label(for="index_email-field")
          input#index_email-field(type="email", name="index_email-field" placeholder='your@mail.com')
        button.button.button--accent(type="submit") Build a bridge
        