.logo {
  width: max-content;
  height: 48px;
  text-decoration: none;
  margin-inline: auto;
  z-index: 101;

  @media (min-width: $lg) {
    margin-inline: 0;
  }

  &:hover {
    cursor: default;
  }

  &[href]:hover {
    cursor: pointer;
  }

  &__content {
    margin: 0;
    color: #b9bbc2;
    font-family: $secondary-font;
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    line-height: 48px;
    letter-spacing: -0.32px;
  }

  &__content--accent {
    color: $accent-color;
  }
}