// FONT IMPORT
@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-VariableFont.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('../assets/fonts/RobotoMono-VariableFont.ttf') format('truetype');
  font-display: swap;
}

// BREAKPOINTS
$xs: 360px;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;
$xxxl: 1920px;

// COMMON VARIABLES
$accent-color: #2673e8;
$secondary-color: #667080;
$max-page-width: 1920px;

// FONT VARIABLES
$text-size: 14px;
$line-height: 1.25;
$basic-font: 'Inter', Arial, system-ui, sans-serif;
$secondary-font: 'Roboto Mono', Arial, system-ui, sans-serif;

// LIGHT THEME VARIABLES
$text-primary-color: rgba(0, 0, 0, 1);
$text-secondary-color: #64748b;
$title-color: #000000;
$subtitle-color: #667080;
$background-color: #ffffff;
$border-color: #e5e5e6;

:root,
:root[data-theme='light'] {
  color: $text-primary-color;
  font-family: $basic-font;
  font-size: $text-size;
  line-height: $line-height;
  background-color: $background-color;
  height: 100%;
}

// DARK THEME VARIABLES

// $dark-text-primary-color: #e2e8f0;
// $dark-text-secondary-color: #cbd5e1;
// $dark-title-color: #334155;
// $dark-subtitle-color: #475569;
// $dark-background-color: #0f172a;
// $dark-border-color: #334155;
// $dark-label-color: #cbd5e1;
// $dark-label-background-color: #334155;

// :root[data-theme="dark"] {
//   color: $text-primary-color;
//   font-size: $text-size;
//   font-family: $basic-font;
//   background-color: $background-color;
// }
