mixin hero
  section.hero
    .hero__wrapper
      img(src='assets/images/hero.png' width='200' height='211' alt='Slava Haikin – Front-End Developer')
      p.subtitle Hi, my name is
      p.title
        | Slava Haikin 
        br
        span I create lighting-fast web sites
      p 
        | I am a T-shaped web developer, with a speciality in Front-end 
        | and also familiar with a backend (Python and Node.js) and also databases. 
        | My focus is in understanding business purposes and provide a decisions 
        | that can hugely increase them
      .button-wrapper 
        a.button(href='#') Hire 
        a.button.button--secondary(href='resume.html') Resume
      .hero__techstack 
        span.hero__techstack-text Tech stack:
        ul.hero__techstack-list.list.list--horizontal
          li.hero__techstack-item
          li.hero__techstack-item
          li.hero__techstack-item
          li.hero__techstack-item
          li.hero__techstack-item
          li.hero__techstack-item