// Common styles
*, *:before, *:after {
  box-sizing: border-box;
}

:root {
  height: auto;
  font-size: $text-size;
  font-family: $basic-font;
}

:root[data-theme='light'] {
  background-color: $background-color;
}

img {
  display: block;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// Text
.title {
  margin: 0;
  font-size: 72px;
  font-weight: 800;
  line-height: 108px;
  color: $title-color;

  &--centered {
    text-align: center;
  }
}

.subtitle {
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
}

.explainer {
  font-size: 24px;
  line-height: 32px;
}

//Wrappers
.content-wrapper {
  max-width: 75rem;
  margin: auto;
  padding: 1.5rem;
}

//Theme toggler
.theme-toggler {
  all: unset;
  display: block;
  line-height: 0;
  cursor: pointer;
}