.page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
  margin: 0;

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 24px 16px;
    padding-bottom: 5px;
  }

  &__body {
    margin: 0;
  }

  &__content {
    padding: 50px 0;
  }

  &__title {
    margin-bottom: 3rem;
  }

}
