// STATEMENTS
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-VariableFont.ttf") format("truetype");
  font-display: swap;
}

// Colors
$accent-color: #335eff;

// Light Theme
$text-primary: rgba(0, 0, 0, 0.92);
$text-secondary: #64748b;
$progress: rgba(#64748B, 0.24);
$title: #334155;
$subtitle: #475569;
$link-underline: rgba(#7733FF, 0.18);
$background: #ffffff;
$border: #e2e8f0;
$label: #64748b;
$label-background: #f1f5f9;

// Dark Theme
$dark-text-primary: #e2e8f0;
$dark-text-secondary: #cbd5e1;
$dark-title-color: #334155;
$dark-subtitle-color: #475569;
$dark-background: #0f172a;
$dark-border: #334155;
$dark-label: #cbd5e1;
$dark-label-background: #334155;

// Text
$text-size: 14px;
$line-height: 1.25;
$basic-font: "Inter", Arial, system-ui, sans-serif;

// Breakpoints
$xs: 320px;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;