// Navbar
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 3.5rem;
}

.logo {
  display: block;
  font-style: none;
  text-decoration: none;
  color: inherit;
}

.site-menu {
  &__link {
    display: block;
    padding: 15px 25px;
    text-decoration: none;
    color: inherit;
  }
}
