mixin navbar(activeLinkNumber)
  nav.navbar
    ul.navbar__nav.list
      li.navbar__nav-item.visually-hidden
        a.navbar__nav-link(href="about.html" class=(activeLinkNumber === 1 ? 'navbar__nav-link--active' : '')) About
      li.navbar__nav-item.visually-hidden
        a.navbar__nav-link(href="services.html" class=(activeLinkNumber === 2 ? 'navbar__nav-link--active' : '')) Services
      li.navbar__nav-item.visually-hidden
        a.navbar__nav-link(href="projects.html" class=(activeLinkNumber === 3 ? 'navbar__nav-link--active' : '')) Project
      li.navbar__nav-item.visually-hidden
        a.navbar__nav-link(href="contacts.html" class=(activeLinkNumber === 4 ? 'navbar__nav-link--active' : '')) Contacts
      li.navbar__nav-item.visually-hidden
        a.navbar__nav-link(href="today-i-learned.html" class=(activeLinkNumber === 5 ? 'navbar__nav-link--active' : '')) TIL
      li.navbar__nav-item.visually-hidden
        a.navbar__nav-link(href="blog.html" class=(activeLinkNumber === 6 ? 'navbar__nav-link--active' : '')) Blog
    ul.navbar__socials.list
      li.navbar__socials-item 
        a.navbar__socials-link(href="https://twitter.com/vyachowski" target="_blank") 
          svg.social__icon(width='20' height='20' viewbox='0 0 20 20' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
            g(clip-path='url(#clip0_26_392)')
              path(d='M10 0.247498C4.475 0.247498 0 4.725 0 10.2475C0 14.6667 2.865 18.4142 6.8375 19.735C7.3375 19.8292 7.52083 19.52 7.52083 19.2542C7.52083 19.0167 7.5125 18.3875 7.50833 17.5542C4.72667 18.1575 4.14 16.2125 4.14 16.2125C3.685 15.0583 3.0275 14.75 3.0275 14.75C2.12167 14.13 3.0975 14.1425 3.0975 14.1425C4.10167 14.2125 4.62917 15.1725 4.62917 15.1725C5.52083 16.7017 6.97 16.26 7.54167 16.0042C7.63167 15.3575 7.88917 14.9167 8.175 14.6667C5.95417 14.4167 3.62 13.5567 3.62 9.725C3.62 8.63333 4.0075 7.74166 4.64917 7.04166C4.53667 6.78916 4.19917 5.7725 4.73667 4.395C4.73667 4.395 5.57417 4.12666 7.48667 5.42C8.28667 5.1975 9.13667 5.0875 9.98667 5.0825C10.8367 5.0875 11.6867 5.1975 12.4867 5.42C14.3867 4.12666 15.2242 4.395 15.2242 4.395C15.7617 5.7725 15.4242 6.78916 15.3242 7.04166C15.9617 7.74166 16.3492 8.63333 16.3492 9.725C16.3492 13.5667 14.0117 14.4125 11.7867 14.6583C12.1367 14.9583 12.4617 15.5717 12.4617 16.5083C12.4617 17.8467 12.4492 18.9217 12.4492 19.2467C12.4492 19.5092 12.6242 19.8217 13.1367 19.7217C17.1375 18.41 20 14.66 20 10.2475C20 4.725 15.5225 0.247498 10 0.247498Z' fill='black' fill-opacity='0.92')
            defs
              clippath#clip0_26_392
              rect(width='20' height='20' fill='white')
      li.navbar__socials-item
        a.navbar__socials-link(href="https://github.com/vyachowski" target="_blank") 
          svg.social__icon(width='20' height='20' viewbox='0 0 20 20' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
          path(d='M19.9608 3.80832C19.2121 4.138 18.4188 4.35561 17.6067 4.45416C18.4618 3.9402 19.102 3.1342 19.4092 2.18499C18.6167 2.64749 17.7383 2.98416 16.8033 3.17166C16.1865 2.51202 15.3691 2.07451 14.478 1.92708C13.587 1.77964 12.6722 1.93053 11.8758 2.35632C11.0793 2.7821 10.4457 3.45895 10.0734 4.28176C9.70104 5.10457 9.6108 6.0273 9.81667 6.90666C6.40833 6.74582 3.38917 5.10832 1.36667 2.63499C0.998995 3.25984 0.80722 3.97251 0.811667 4.69749C0.811667 6.12249 1.53667 7.37499 2.635 8.11082C1.98405 8.0901 1.34748 7.9141 0.778333 7.59749V7.64749C0.777964 8.59448 1.10522 9.51244 1.70459 10.2456C2.30395 10.9788 3.13851 11.4821 4.06667 11.67C3.46525 11.8311 2.83534 11.8553 2.22333 11.7408C2.48677 12.5558 2.99805 13.2683 3.68585 13.7787C4.37364 14.2892 5.20363 14.5722 6.06 14.5883C4.60961 15.7266 2.81873 16.3444 0.975 16.3425C0.65 16.3425 0.325833 16.3233 0 16.2867C1.87976 17.4903 4.06543 18.1292 6.2975 18.1275C13.8417 18.1275 17.9625 11.8808 17.9625 6.47332C17.9625 6.29832 17.9625 6.12332 17.95 5.94832C18.755 5.36904 19.4494 4.64984 20 3.82499L19.9608 3.80832Z')
      li.navbar__socials-item
        a.navbar__socials-link(href="https://github.com/vyachowski" target="_blank") 
          svg.social__icon(width='20' height='20' viewbox='0 0 20 20' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
          path(d='M19.9608 3.80832C19.2121 4.138 18.4188 4.35561 17.6067 4.45416C18.4618 3.9402 19.102 3.1342 19.4092 2.18499C18.6167 2.64749 17.7383 2.98416 16.8033 3.17166C16.1865 2.51202 15.3691 2.07451 14.478 1.92708C13.587 1.77964 12.6722 1.93053 11.8758 2.35632C11.0793 2.7821 10.4457 3.45895 10.0734 4.28176C9.70104 5.10457 9.6108 6.0273 9.81667 6.90666C6.40833 6.74582 3.38917 5.10832 1.36667 2.63499C0.998995 3.25984 0.80722 3.97251 0.811667 4.69749C0.811667 6.12249 1.53667 7.37499 2.635 8.11082C1.98405 8.0901 1.34748 7.9141 0.778333 7.59749V7.64749C0.777964 8.59448 1.10522 9.51244 1.70459 10.2456C2.30395 10.9788 3.13851 11.4821 4.06667 11.67C3.46525 11.8311 2.83534 11.8553 2.22333 11.7408C2.48677 12.5558 2.99805 13.2683 3.68585 13.7787C4.37364 14.2892 5.20363 14.5722 6.06 14.5883C4.60961 15.7266 2.81873 16.3444 0.975 16.3425C0.65 16.3425 0.325833 16.3233 0 16.2867C1.87976 17.4903 4.06543 18.1292 6.2975 18.1275C13.8417 18.1275 17.9625 11.8808 17.9625 6.47332C17.9625 6.29832 17.9625 6.12332 17.95 5.94832C18.755 5.36904 19.4494 4.64984 20 3.82499L19.9608 3.80832Z')
    block