mixin logo
  a.logo
    div.logo__content
      div.logo__front
        span.logo__begin Slava
        span.logo__divider 
        span.logo__end Haikin
      div.logo__back
        span.logo__begin חייקין
        span.logo__divider.logo__divider--reversed 
        span.logo__end סלבה