.key-projects {
  &__subtitle {
    margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__image-wrapper {
    width: 340px;
    height: 210px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-blend-mode: multiply, normal;

    &--first {
      background: linear-gradient(
        0deg,
        rgba(221, 221, 221, 0.9) 0%,
        rgba(221, 221, 221, 0.9) 100%
      ),
      url('/assets/images/key-project-1.png'),
      lightgray -49.831px -0.043px / 124.772% 128.51% no-repeat;
      background-position: center;
      background-size: cover;
    }

    &--second {
      background: linear-gradient(
        0deg,
        rgba(221, 221, 221, 0.9) 0%,
        rgba(221, 221, 221, 0.9) 100%
      ),
      url('/assets/images/key-project-2.png'),
      lightgray -49.831px -0.043px / 124.772% 128.51% no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}
