/* Header */

.header {
  position: relative;

  width: 100%;
  height: 80px;

  border-bottom: 1px solid var(--border-color);
}

.header-menu-open .header {
  position: fixed;
  top: 0;
  bottom: 80px;
  left: 0;
  right: 0;
  z-index: 2;
  background-color:  var(--background-color);
}

.header-menu-open .header::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: -15px;

  width: 120%;
  height: 1px;
  background-color: 1px solid var(--border-color);
  content: '';
}

.header__logo {
  grid-column: 2 / 3;
}

.header__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 80px;
  align-items: center;
  justify-items: center;

  padding-inline: 0.75rem;
}

@media (hover: hover) and (pointer: fine) {
  .header-menu-open .header__container {
    margin-right: var(--scrollbar-width, 15px);
  }
}

@media (width >= 768px) {
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding-inline: 0.75rem;
  }
}

.header__nav {
  position: fixed;
  top: 80px;
  bottom: 80px;
  left: 0;
  right: 0;
  z-index: var(--menu-index);

  display: none;
  justify-content: center;
  align-content: center;

  padding-block: 2rem;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--background-color);
}

@media (width >= 768px) {
  .header__nav {
    position: static;
    display: block;

    padding: 0;
    border-bottom: none;
    background-color: transparent;
  }
}

.header-menu-open .header__nav {
  display: flex;
}

.header__nav-link-list {
  width: 100%;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

@media (width >= 768px) {
  .header__nav-link-list  {
    display: flex;
    flex-wrap: wrap;
  }
}

.header__nav-link {
  display: block;
  width: 100%;
  padding: 1.75em;

  text-align: center;
  font-weight: 700;
}

@media (hover: hover) and (pointer: fine) {
  .header__nav-link:hover {
    background-color: #D9D9D91A;
  }
}

.header__menu-toggle {
  grid-column: 3 / 4;
  justify-self: end;

  aspect-ratio: 1 / 1;
  padding: 10px;

  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media (width >= 768px) {
  .header__menu-toggle {
    display: none;
  }
}

.header__menu-toggle .line {
  display: block;
  width: 25px;
  height: 2px;
  margin-bottom: 8px;

  background-color: var(--alt-text-color);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.header__menu-toggle .line:last-of-type {
  margin-bottom: 0;
}

.header-menu-open .line:first-of-type {
  transform-origin: left center;
  transform: rotateZ(45deg) scaleX(1.13);
}

.header-menu-open .line:nth-of-type(2) {
  opacity: 0;
  transform: translateX(-10px);
}

.header-menu-open .line:last-of-type {
  transform-origin: left center;
  transform: rotateZ(-45deg) scaleX(1.13);
}

/* About section*/
.about {
  padding-block: 60px;
}

.about__social-list-wrapper {
  display: none;
  background-color: var(--background-color);
}

.header-menu-open .about__social-list-wrapper  {
  position: fixed;
  top: calc(100dvh - 80px);
  bottom: 0;
  left: 0;
  right: 0;
  z-index: var(--menu-index);

  display: flex;
  justify-content: center;
  align-items: center;
}

.about__social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3.125em;

  margin: 0;
  padding: 0;
  list-style-type: none;
}

.about__picture {
  grid-column: 1 / -1;
  margin-bottom: 40px;
}

@media (width >=1280px) {
  .about__picture {
    grid-column: -6 / -1;
    grid-row: 1 / 3;
    align-self: center;
    justify-self: center;

    width: 300px;
    height: 317px;
    margin: auto;
  }
}

.about__info {
  grid-column: 1 / -1;

  margin: 0 auto;
}

@media (width >=1280px) {
  .about__info {
      grid-column: 1 / -5;
      grid-row: 1 / 2;
  }
}

.about__title {
  text-align: center;
  margin-bottom: 40px;
}

@media (width >=1280px) {
  .about__title {
    text-align: left;
  }
}

.about__title span:first-child {
  display: block;
  margin-bottom: 20px;

  font-size: 1rem;
  line-height: 1.375;
  font-weight: 400;
  color: var(--alt-text-color);
}

.about__title span:nth-child(2) {
  color: var(--text-color);
}

.about__title :not(:first-child) {
  display: block;
  font-size: 1.85rem;
  line-height: 1.375;
  font-weight: 700;
  color: var(--accent-color);
}

@media (width >=1280px) {
  .about__title :not(:first-child) {
    font-size: 3.75rem;
    line-height: 1.175;
  }
}

.about__text {
  grid-column: 1 / -1;
  margin-bottom: 40px;
}

.about__button-group {
  grid-column: 1 / -1;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;

  margin-bottom: 60px;
}

@media (width >=1280px) {
  .about__button-group {
      grid-column: 1 / -5;
      grid-row: 2 / 3;
  }
}

.about__misc {
  grid-column: 1 / -1;
}

.tech-stack span {
  display: block;

  margin-bottom: 1.25em;
  text-align: center;
}

.tech-stack__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.2em;
}
