doctype html
block variables
block components
html(lang= lang data-theme="light")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= page_title
    meta(name="description" content=page_description)
    link(rel="icon" href="favicon.ico" type="image/x-icon" sizes="any")
    link(rel="icon" href="img/favicon.png" type="image/png")
    link(rel="apple-touch-icon" href="img/apple-touch-icon.png" type="image/png")
    link(rel="icon" href="img/favicon.svg" type="image/svg+xml")
    link(rel="preload" href="css/styles.css" as="style")
    link(rel="stylesheet" href="css/styles.css")
    block additional__styles
  body.page
    header.page__header
      include ../includes/_header
    main.page__content
      block content__header
      block content
    footer.page__footer
      ../includes/_footer
    block scripts
