article.resume
  header.resume__header 
    .resume__background-wrapper
      h2.resume__title.title-2 Slava Haikin
      h3.resume__subtitle.title-6.text-color--secondary Back-End Developer · Front-End Developer
      .resume__contacts
        address.resume__location.text.text--xs Ramat Gan 
        a.resume__email.text.text--xs.link(href="mailto:vyachowski@gmail.com") vyachowski@gmail.com
      ul.resume__socials-list.list.list--horizontal.list--centered
        li.resume__socials-item
          a.resume__socials-link.resume__socials-link--site.text.text--xs(href="https://vyachowski.com" target="_blank") vyachowski.com
        li.resume__socials-item
          a.resume__socials-link.resume__socials-link--linkedin.text.text--xs(href="https://linkedin.com/in/vyachowski" target="_blank") /vyachowski
        li.resume__socials-item
          a.resume__socials-link.resume__socials-link--github.text.text--xs(href="https://github.com/Vyachowski" target="_blank") /vyachowski
  .resume__wrapper
    main.resume__content
      section.resume__section.resume__section--education
        h3.text.text--bold Education
        .resume__section-content 
          .resume__section-content-row
            .resume__section-work
              .resume__section-title-wrapper
                h3.text.text--bold Hexlet College&nbsp;#[span.text —&nbsp;]
                p.resume__content-subtitle Programmer
              p.resume__date.label.label--xs.label--monospace
                time.resume__date-start Sep 2022&nbsp;
                |- 
                time.resume__date-end present
      section.resume__section.resume__section--experience
        h3.text.text--bold Experience
        .resume__section-content 
          .resume__section-content-row
            .resume__section-work
              .resume__section-title-wrapper
                h3.text.text--bold Bootcamp / Internship&nbsp;#[span.text —&nbsp;]
                p.resume__content-subtitle Full-Stack Developer
              p.resume__date.label.label--xs.label--monospace
                time.resume__date-start July 2023&nbsp;
                |- 
                time.resume__date-end Sep 2023
            ul.resume__label-list.list.list--horizontal
              li.resume__label.label.text.text--xs Python
              li.resume__label.label.text.text--xs Django
              li.resume__label.label.text.text--xs React
              li.resume__label.label.text.text--xs Redux
              li.resume__label.label.text.text--xs SQL
            ul.resume__achievements-list
              li.resume__text.text.text--xs Achievement 1 – I created and recreated and created  I created and recreated 
          .resume__section-content-row
            .resume__section-work
              .resume__section-title-wrapper
                h3.text.text--bold Sitex Group&nbsp;#[span.text —&nbsp;]
                p.resume__content-subtitle Front-End developer / PPC Manager
              p.resume__date.label.label--xs.label--monospace
                time.resume__date-start Jun 2018&nbsp;
                |- 
                time.resume__date-end May 2021
            ul.resume__label-list.list.list--horizontal
              li.resume__label.label.text.text--xs JavaScript
              li.resume__label.label.text.text--xs Bootstrap
            ul.resume__achievements-list
              li.resume__text.text.text--xs Achievement 1 – I created and recreated and created  I created and recreated
              li.resume__text.text.text--xs Achievement 1 – I created and recreated and created  I created and recreated
          .resume__section-content-row
            .resume__section-work
              .resume__section-title-wrapper
                h3.text.text--bold Freelance&nbsp;#[span.text —&nbsp;]
                p.resume__content-subtitle Front-End Developer
              p.resume__date.label.label--xs.label--monospace
                time.resume__date-start Oct 2022&nbsp;
                |- 
                time.resume__date-end present
            ul.resume__label-list.list.list--horizontal
              li.resume__label.label.text.text--xs HTML5
              li.resume__label.label.text.text--xs CSS3
              li.resume__label.label.text.text--xs Accesibility
            ul.resume__achievements-list
              li.resume__text.text.text--xs Achievement 1 – I created and recreated and created  I created and recreated
              li.resume__text.text.text--xs Achievement 1 – I created and recreated and created  I created and recreated
              li.resume__text.text.text--xs Achievement 1 – I created and recreated and created  I created and recreated
              li.resume__text.text.text--xs Achievement 1 – I created and recreated and created  I created and recreated
      section.resume__section.resume__section--projects
        h3.text.text--bold Featured Project
        .resume__section-content 
          .resume__section-content-row
            .resume__section-title-wrapper
              h3.text.text--bold Personal site
            ul.resume__label-list.list.list--horizontal
              li.resume__label.label.text.text--xs HTML5
              li.resume__label.label.text.text--xs CSS3
              li.resume__label.label.text.text--xs SCSS
              li.resume__label.label.text.text--xs PUG
              li.resume__label.label.text.text--xs BEM
            p.text.
              Personal portfolio created with a template engine (PUG), that presents my best project, CV and 
              represents all my path as a web developer ("Today I learned" section). <br> 
              More details at:
              #[a.resume__link.resume__link--github.link(href="http:///github.com/vyachowski/vyachowski.com", target="_blank", rel="noopener noreferrer") github.com/vyachowski/vyachowski.com]
          .resume__section-content-row  
            p.text see all of my projects on my portfolio: 
              a.resume__link.resume__link--github.link(href="http:///github.com/vyachowski/", target="_blank", rel="noopener noreferrer") github.com/vyachowski/
      section.resume__section.resume__section--skills
        h3.text.text--bold Skills & Tools
        .resume__section-content 
          .resume__section-content-row--separated
            p.resume__text.label.label--xs.label-color--secondary Underline indicators
            ul.resume__label-list.list.list--horizontal 
              li.resume__label.label.text.text--xs Frequently used
              li.resume__label.label.text.text--xs Occasionally
          .resume__section-content-row--separated
            h3.text.text--bold Languages
            p.resume__text.label.label--xs.label-color--secondary Front-end
            ul.resume__label-list.list.list--horizontal 
              li.resume__label.label.text.text--xs Bootstrap
              li.resume__label.label.text.text--xs Tailwind CSS
              li.resume__label.label.text.text--xs React
            p.resume__text.label.label--xs.label-color--secondary Back-end
            ul.resume__label-list.list.list--horizontal 
              li.resume__label.label.text.text--xs Bootstrap
              li.resume__label.label.text.text--xs Tailwind CSS
              li.resume__label.label.text.text--xs React
          .resume__section-content-row--separated
            h3.text.text--bold Technologies
            p.resume__text.label.label--xs.label-color--secondary Front-end
            ul.resume__label-list.list.list--horizontal 
              li.resume__label.label.text.text--xs Bootstrap
              li.resume__label.label.text.text--xs Tailwind CSS
              li.resume__label.label.text.text--xs React
            p.resume__text.label.label--xs.label-color--secondary Back-end
            ul.resume__label-list.list.list--horizontal 
              li.resume__label.label.text.text--xs Bootstrap
              li.resume__label.label.text.text--xs Tailwind CSS
              li.resume__label.label.text.text--xs React
          .resume__section-content-row--separated
            h3.text.text--bold Tools
            p.resume__text.label.label--xs.label-color--secondary Other
            ul.resume__label-list.list.list--horizontal 
              li.resume__label.label.text.text--xs Git
              li.resume__label.label.text.text--xs Node.js
              li.resume__label.label.text.text--xs Figma
              li.resume__label.label.text.text--xs English
              li.resume__label.label.text.text--xs Russian