article.resume
  header.resume__header 
    .resume__background-wrapper
      h2.resume__title Slava Haikin
      h3.resume__subtitle Back-End Developer · Front-End Developer
      .resume__contacts
        address.resume__location.resume__content--xs Ramat Gan 
        a.resume__email.resume__content--xs(href="mailto:vyachowski@gmail.com") vyachowski@gmail.com
      ul.resume__socials-list
        li.resume__socials-item
          a.resume__socials-link.resume__socials-link--site(href="https://vyachowski.com" target="_blank") vyachowski.com
        li.resume__socials-item
          a.resume__socials-link.resume__socials-link--linkedin(href="https://linkedin.com/in/vyachowski" target="_blank") /vyachowski
        li.resume__socials-item
          a.resume__socials-link.resume__socials-link--github(href="https://github.com/Vyachowski" target="_blank") /vyachowski
  .resume__wrapper
    main.resume__content
      section.resume__section.resume__section--education
        h3.resume__section-title Education
        .resume__section-content 
          .resume__section-content-row
            .resume__section-work
              .resume__section-title-wrapper
                h3.resume__content-title Hexlet College&nbsp;
                p.resume__content-subtitle — Programmer
              p.resume__date
                time.resume__date-start Oct 2022&nbsp;
                |- 
                time.resume__date-end present
      section.resume__section.resume__section--experience
        h3.resume__section-title Experience
        .resume__section-content 
          .resume__section-content-row
            .resume__section-work
              .resume__section-title-wrapper
                h3.resume__content-title Internship&nbsp;
                p.resume__content-subtitle — Front-End Developer
              p.resume__date
                time.resume__date-start Oct 2022&nbsp;
                |- 
                time.resume__date-end present
            ul.resume__label-list 
              li.resume__label Bootstrap
              li.resume__label Tailwind CSS
              li.resume__label React
            ul.resume__achievements-list
              li.resume__text.resume__text--xs Achievement 1 – I created and recreated and created  I created and recreated and created 
          .resume__section-content-row
            .resume__section-work
              .resume__section-title-wrapper
                h3.resume__content-title Internship&nbsp;
                p.resume__content-subtitle — Front-End Developer
              p.resume__date
                time.resume__date-start Oct 2022&nbsp;
                |- 
                time.resume__date-end present
            ul.resume__label-list 
              li.resume__label Bootstrap
              li.resume__label Tailwind CSS
              li.resume__label React
            ul.resume__achievements-list
              li.resume__text.resume__text--xs Achievement 1 – I created and recreated and created  I created and recreated and created
              li.resume__text.resume__text--xs Achievement 1 – I created and recreated and created  I created and recreated and created
          .resume__section-content-row
            .resume__section-work
              .resume__section-title-wrapper
                h3.resume__content-title Internship&nbsp;
                p.resume__content-subtitle — Front-End Developer
              p.resume__date
                time.resume__date-start Oct 2022&nbsp;
                |- 
                time.resume__date-end present
            ul.resume__label-list 
              li.resume__label Bootstrap
              li.resume__label Tailwind CSS
              li.resume__label React
            ul.resume__achievements-list
              li.resume__text.resume__text--xs Achievement 1 – I created and recreated and created  I created and recreated and created
              li.resume__text.resume__text--xs Achievement 1 – I created and recreated and created  I created and recreated and created
              li.resume__text.resume__text--xs Achievement 1 – I created and recreated and created  I created and recreated and created
              li.resume__text.resume__text--xs Achievement 1 – I created and recreated and created  I created and recreated and created
      section.resume__section.resume__section--projects
        h3.resume__section-title Featured Project
        .resume__section-content 
          .resume__section-content-row
            .resume__section-title-wrapper
              h3.resume__content-title Internship
            ul.resume__label-list 
              li.resume__label Bootstrap
              li.resume__label Tailwind CSS
              li.resume__label React
            p.resume__text
              | A short description of the project and also a basic explanation of the process of creating this stuff.
              | Also you can add as many details as you want.  More details!!! at: 
              a.resume__text-link.resume__text-link--github(href="http:///github.com/vyachowski/vyachowski.com", target="_blank", rel="noopener noreferrer") https://github.com/vyachowski/vyachowski.com
          .resume__section-content-row  
            p.resume__text
              | see all of my projects on my portfolio: 
              a.resume__text-link.resume__text-link--github(href="http:///github.com/vyachowski/", target="_blank", rel="noopener noreferrer") https://github.com/vyachowski/
      section.resume__section.resume__section--skills
        h3.resume__section-title Skills & Tools
        .resume__section-content 
          .resume__section-content-row--separated
            p.resume__text.resume__text--secondary Underline indicators
            ul.resume__label-list 
              li.resume__label Frequently used
              li.resume__label Occasionally
          .resume__section-content-row--separated
            h3.resume__content-title Languages
            p.resume__text.resume__text--secondary Front-end
            ul.resume__label-list 
              li.resume__label Bootstrap
              li.resume__label Tailwind CSS
              li.resume__label React
            p.resume__text.resume__text--secondary Back-end
            ul.resume__label-list 
              li.resume__label Bootstrap
              li.resume__label Tailwind CSS
              li.resume__label React
          .resume__section-content-row--separated
            h3.resume__content-title Technologies
            p.resume__text.resume__text--secondary Front-end
            ul.resume__label-list 
              li.resume__label Bootstrap
              li.resume__label Tailwind CSS
              li.resume__label React
            p.resume__text.resume__text--secondary Back-end
            ul.resume__label-list 
              li.resume__label Bootstrap
              li.resume__label Tailwind CSS
              li.resume__label React
          .resume__section-content-row--separated
            h3.resume__content-title Tools
            p.resume__text.resume__text--secondary Other
            ul.resume__label-list 
              li.resume__label Git
              li.resume__label Node.js
              li.resume__label Figma