extends templates/base

block variables
  - const lang = "en"
  - const page_title = "Title"
  - const page_description = "Description"
block blocks
  include blocks/page-header/page-header
  include blocks/logo/logo
  include blocks/navbar/navbar
  include blocks/menu-toggle/menu-toggle
block content
  +page-header
    +logo
    +navbar(3)
    +menu-toggle
