doctype html
html(lang="en" data-theme='light')
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/style.css")
    title Slava Haikin - Fullstack developer
  body.page
    header.page__header
      a.logo(href="#")
          img.logo__image(src="assets/images/logo.svg", alt="Logotype 'Vyachowski'")
      button.navbar-toggler.no-js
        span
        span 
        span
      nav.navbar
        ul.navbar__list 
          li.navbar__item 
            a.navbar__link(href="#") Resume / CV
          li.navbar__item.visually-hidden
            a.navbar__link(href="#") Blog
          li.navbar__item.visually-hidden
            a.navbar__link(href="#") Skills
        ul.socials__list
          li.socials__item 
            a.socials__link(href="https://github.com/vyachowski") 
            a.socials__link(href="https://www.linkedin.com/in/vyachowski/") 
    main.page__content 
      section.hero 
        p.
          I am just a plain text with connected font
    footer.page__footer