extends templates/bases/_base
block variables
  - const lang = "en"
  - const page_title = "Slava Haikin - Fullstack developer"
  - const page_description = "A simpliest cheatsheet for git for beginners"

block content
  h1.page__title.title.title--centered CV / Resume
  include templates/includes/_resume