extends templates/base

block variables
  - const lang = "en"
  - const page_title = "Front-end Developer Slava Haikin"
  - const page_description = "Info about me"
block blocks
  include blocks/page-header/page-header
  include blocks/logo/logo
  include blocks/navbar/navbar
  include blocks/menu-toggle/menu-toggle
block content
  +page-header
    +logo
    +menu-toggle
    +navbar(1)
block scripts 
  script(src="scripts/bundle.min.js") 
