extends templates/base

block variables
  - const lang = "en"
  - const page_title = "Resume of a Fullstack developer – Slava Haikin"
  - const page_description = "CV (Resume) with a essential info about my path as a web-developer"
block content
  h1.page__title.title.title--centered CV / Resume
  article.resume
  header.resume__header 
    .resume__background-wrapper
      h2.resume__title.title-2 Slava Haikin
      h3.resume__subtitle.title-6.text-color--secondary Back-End Developer · Front-End Developer
      .resume__contacts
        address.resume__location.text.text--xs
          svg.resume__icon.resume__icon--address.icon.icon--inline(width='10' height='10' viewbox='0 0 7 7' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M3.37236 6.97158L3.37359 6.972C3.4547 7.0074 3.49999 6.99917 3.49999 6.99917C3.49999 6.99917 3.54528 7.0074 3.6268 6.972L3.62762 6.97158L3.63009 6.97035L3.6375 6.96706C3.67659 6.9489 3.71517 6.92968 3.7532 6.90942C3.82978 6.86989 3.93682 6.8106 4.06487 6.73114C4.32013 6.57304 4.6598 6.33343 5.00111 6.00446C5.68291 5.34737 6.382 4.32013 6.382 2.88201C6.382 2.50354 6.30746 2.12877 6.16262 1.77911C6.01779 1.42945 5.8055 1.11174 5.53788 0.844121C5.27026 0.576502 4.95255 0.364215 4.60289 0.21938C4.25323 0.0745454 3.87846 0 3.49999 0C3.12152 0 2.74676 0.0745454 2.39709 0.21938C2.04743 0.364215 1.72972 0.576502 1.4621 0.844121C1.19448 1.11174 0.982196 1.42945 0.837361 1.77911C0.692526 2.12877 0.617981 2.50354 0.617981 2.88201C0.617981 4.31972 1.31707 5.34737 1.99929 6.00446C2.28492 6.2788 2.59858 6.52237 2.93512 6.73114C3.06546 6.81208 3.19956 6.88682 3.33695 6.95512L3.36248 6.96706L3.36989 6.97035L3.37236 6.97158ZM3.49999 3.80837C3.74568 3.80837 3.9813 3.71077 4.15503 3.53705C4.32875 3.36332 4.42635 3.1277 4.42635 2.88201C4.42635 2.63632 4.32875 2.4007 4.15503 2.22698C3.9813 2.05325 3.74568 1.95565 3.49999 1.95565C3.25431 1.95565 3.01868 2.05325 2.84496 2.22698C2.67123 2.4007 2.57363 2.63632 2.57363 2.88201C2.57363 3.1277 2.67123 3.36332 2.84496 3.53705C3.01868 3.71077 3.25431 3.80837 3.49999 3.80837Z')
          | Ramat Gan 
        a.resume__email.text.text--xs.link(href="mailto:vyachowski@gmail.com") 
          svg.resume__icon.resume__icon--mail.icon.icon--inline(width='12' height='7.5' viewbox='0 0 8 5' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
            path(d='M1.1598 0.166626C0.953517 0.166626 0.755687 0.24857 0.609825 0.394432C0.463963 0.540293 0.382019 0.738124 0.382019 0.944404V1.3959L3.66463 3.0374C3.73213 3.07115 3.80656 3.08872 3.88202 3.08872C3.95748 3.08872 4.03191 3.07115 4.09941 3.0374L7.38202 1.39629V0.944404C7.38202 0.738124 7.30007 0.540293 7.15421 0.394432C7.00835 0.24857 6.81052 0.166626 6.60424 0.166626H1.1598Z')
            path(d='M7.38202 2.04846L4.36035 3.5593C4.21184 3.63357 4.04807 3.67223 3.88202 3.67223C3.71597 3.67223 3.5522 3.63357 3.40369 3.5593L0.382019 2.04846V4.05552C0.382019 4.2618 0.463963 4.45963 0.609825 4.60549C0.755687 4.75135 0.953517 4.8333 1.1598 4.8333H6.60424C6.81052 4.8333 7.00835 4.75135 7.15421 4.60549C7.30007 4.45963 7.38202 4.2618 7.38202 4.05552V2.04846Z' fill='#334155')
          | vyachowski@gmail.com
      ul.resume__socials-list.list.list--horizontal.list--centered
        li.resume__socials-item
          a.resume__socials-link.resume__socials-link--site.text.text--xs(href="https://vyachowski.com" target="_blank") vyachowski.com
        li.resume__socials-item
          a.resume__socials-link.resume__socials-link--linkedin.text.text--xs(href="https://linkedin.com/in/vyachowski" target="_blank") /vyachowski
        li.resume__socials-item
          a.resume__socials-link.resume__socials-link--github.text.text--xs(href="https://github.com/Vyachowski" target="_blank") /vyachowski
  .resume__wrapper
    main.resume__content
      section.resume__section.resume__section--education
        h3.text.text--bold Education
        .resume__section-content 
          .resume__section-content-row
            .resume__section-work
              .resume__section-title-wrapper
                h3.text.text--bold Hexlet College&nbsp;#[span.text —&nbsp;]
                p.resume__content-subtitle Programmer
              p.resume__date.label.label--xs.label--monospace
                svg.resume__icon.resume__icon--date.icon.icon--inline(width='14' height='14' stroke='#64748B' viewbox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M2.8125 1.25V2.1875M7.1875 1.25V2.1875M1.25 7.8125V3.125C1.25 2.87636 1.34877 2.6379 1.52459 2.46209C1.7004 2.28627 1.93886 2.1875 2.1875 2.1875H7.8125C8.06114 2.1875 8.2996 2.28627 8.47541 2.46209C8.65123 2.6379 8.75 2.87636 8.75 3.125V7.8125M1.25 7.8125C1.25 8.06114 1.34877 8.2996 1.52459 8.47541C1.7004 8.65123 1.93886 8.75 2.1875 8.75H7.8125C8.06114 8.75 8.2996 8.65123 8.47541 8.47541C8.65123 8.2996 8.75 8.06114 8.75 7.8125M1.25 7.8125V4.6875C1.25 4.43886 1.34877 4.2004 1.52459 4.02459C1.7004 3.84877 1.93886 3.75 2.1875 3.75H7.8125C8.06114 3.75 8.2996 3.84877 8.47541 4.02459C8.65123 4.2004 8.75 4.43886 8.75 4.6875V7.8125M5 5.3125H5.00333V5.31583H5V5.3125ZM5 6.25H5.00333V6.25333H5V6.25ZM5 7.1875H5.00333V7.19083H5V7.1875ZM4.0625 6.25H4.06583V6.25333H4.0625V6.25ZM4.0625 7.1875H4.06583V7.19083H4.0625V7.1875ZM3.125 6.25H3.12833V6.25333H3.125V6.25ZM3.125 7.1875H3.12833V7.19083H3.125V7.1875ZM5.9375 5.3125H5.94083V5.31583H5.9375V5.3125ZM5.9375 6.25H5.94083V6.25333H5.9375V6.25ZM5.9375 7.1875H5.94083V7.19083H5.9375V7.1875ZM6.875 5.3125H6.87833V5.31583H6.875V5.3125ZM6.875 6.25H6.87833V6.25333H6.875V6.25Z' stroke-width='0.75' stroke-linecap='round' stroke-linejoin='round')
                time.resume__date-start Sep 2022&nbsp;
                |- 
                time.resume__date-end present
      section.resume__section.resume__section--experience
        h3.text.text--bold Experience
        .resume__section-content 
          .resume__section-content-row
            .resume__section-work
              .resume__section-title-wrapper
                h3.text.text--bold Bootcamp / Internship&nbsp;#[span.text —&nbsp;]
                p.resume__content-subtitle Full-Stack Developer
              p.resume__date.label.label--xs.label--monospace
                svg.resume__icon.resume__icon--date.icon.icon--inline(width='14' height='14' stroke='#64748B' viewbox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M2.8125 1.25V2.1875M7.1875 1.25V2.1875M1.25 7.8125V3.125C1.25 2.87636 1.34877 2.6379 1.52459 2.46209C1.7004 2.28627 1.93886 2.1875 2.1875 2.1875H7.8125C8.06114 2.1875 8.2996 2.28627 8.47541 2.46209C8.65123 2.6379 8.75 2.87636 8.75 3.125V7.8125M1.25 7.8125C1.25 8.06114 1.34877 8.2996 1.52459 8.47541C1.7004 8.65123 1.93886 8.75 2.1875 8.75H7.8125C8.06114 8.75 8.2996 8.65123 8.47541 8.47541C8.65123 8.2996 8.75 8.06114 8.75 7.8125M1.25 7.8125V4.6875C1.25 4.43886 1.34877 4.2004 1.52459 4.02459C1.7004 3.84877 1.93886 3.75 2.1875 3.75H7.8125C8.06114 3.75 8.2996 3.84877 8.47541 4.02459C8.65123 4.2004 8.75 4.43886 8.75 4.6875V7.8125M5 5.3125H5.00333V5.31583H5V5.3125ZM5 6.25H5.00333V6.25333H5V6.25ZM5 7.1875H5.00333V7.19083H5V7.1875ZM4.0625 6.25H4.06583V6.25333H4.0625V6.25ZM4.0625 7.1875H4.06583V7.19083H4.0625V7.1875ZM3.125 6.25H3.12833V6.25333H3.125V6.25ZM3.125 7.1875H3.12833V7.19083H3.125V7.1875ZM5.9375 5.3125H5.94083V5.31583H5.9375V5.3125ZM5.9375 6.25H5.94083V6.25333H5.9375V6.25ZM5.9375 7.1875H5.94083V7.19083H5.9375V7.1875ZM6.875 5.3125H6.87833V5.31583H6.875V5.3125ZM6.875 6.25H6.87833V6.25333H6.875V6.25Z' stroke-width='0.75' stroke-linecap='round' stroke-linejoin='round')
                time.resume__date-start July 2023&nbsp;
                |- 
                time.resume__date-end Sep 2023
            ul.resume__label-list.list.list--horizontal
              li.resume__label.label.text.text--xs Python
              li.resume__label.label.text.text--xs Django
              li.resume__label.label.text.text--xs React
              li.resume__label.label.text.text--xs Redux
              li.resume__label.label.text.text--xs SQL
            ul.resume__achievements-list
              li.resume__text.text.text--xs Achievement 1 – I created and recreated and created  I created and recreated 
          .resume__section-content-row
            .resume__section-work
              .resume__section-title-wrapper
                h3.text.text--bold Sitex Group&nbsp;#[span.text —&nbsp;]
                p.resume__content-subtitle Front-End developer / PPC Manager
              p.resume__date.label.label--xs.label--monospace
                svg.resume__icon.resume__icon--date.icon.icon--inline(width='14' height='14' stroke='#64748B' viewbox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M2.8125 1.25V2.1875M7.1875 1.25V2.1875M1.25 7.8125V3.125C1.25 2.87636 1.34877 2.6379 1.52459 2.46209C1.7004 2.28627 1.93886 2.1875 2.1875 2.1875H7.8125C8.06114 2.1875 8.2996 2.28627 8.47541 2.46209C8.65123 2.6379 8.75 2.87636 8.75 3.125V7.8125M1.25 7.8125C1.25 8.06114 1.34877 8.2996 1.52459 8.47541C1.7004 8.65123 1.93886 8.75 2.1875 8.75H7.8125C8.06114 8.75 8.2996 8.65123 8.47541 8.47541C8.65123 8.2996 8.75 8.06114 8.75 7.8125M1.25 7.8125V4.6875C1.25 4.43886 1.34877 4.2004 1.52459 4.02459C1.7004 3.84877 1.93886 3.75 2.1875 3.75H7.8125C8.06114 3.75 8.2996 3.84877 8.47541 4.02459C8.65123 4.2004 8.75 4.43886 8.75 4.6875V7.8125M5 5.3125H5.00333V5.31583H5V5.3125ZM5 6.25H5.00333V6.25333H5V6.25ZM5 7.1875H5.00333V7.19083H5V7.1875ZM4.0625 6.25H4.06583V6.25333H4.0625V6.25ZM4.0625 7.1875H4.06583V7.19083H4.0625V7.1875ZM3.125 6.25H3.12833V6.25333H3.125V6.25ZM3.125 7.1875H3.12833V7.19083H3.125V7.1875ZM5.9375 5.3125H5.94083V5.31583H5.9375V5.3125ZM5.9375 6.25H5.94083V6.25333H5.9375V6.25ZM5.9375 7.1875H5.94083V7.19083H5.9375V7.1875ZM6.875 5.3125H6.87833V5.31583H6.875V5.3125ZM6.875 6.25H6.87833V6.25333H6.875V6.25Z' stroke-width='0.75' stroke-linecap='round' stroke-linejoin='round')
                time.resume__date-start Jun 2018&nbsp;
                |- 
                time.resume__date-end May 2021
            ul.resume__label-list.list.list--horizontal
              li.resume__label.label.text.text--xs JavaScript
              li.resume__label.label.text.text--xs Bootstrap
            ul.resume__achievements-list
              li.resume__text.text.text--xs Achievement 1 – I created and recreated and created  I created and recreated
              li.resume__text.text.text--xs Achievement 1 – I created and recreated and created  I created and recreated
          .resume__section-content-row
            .resume__section-work
              .resume__section-title-wrapper
                h3.text.text--bold Freelance&nbsp;#[span.text —&nbsp;]
                p.resume__content-subtitle Front-End Developer
              p.resume__date.label.label--xs.label--monospace
                svg.resume__icon.resume__icon--date.icon.icon--inline(width='14' height='14' stroke='#64748B' viewbox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M2.8125 1.25V2.1875M7.1875 1.25V2.1875M1.25 7.8125V3.125C1.25 2.87636 1.34877 2.6379 1.52459 2.46209C1.7004 2.28627 1.93886 2.1875 2.1875 2.1875H7.8125C8.06114 2.1875 8.2996 2.28627 8.47541 2.46209C8.65123 2.6379 8.75 2.87636 8.75 3.125V7.8125M1.25 7.8125C1.25 8.06114 1.34877 8.2996 1.52459 8.47541C1.7004 8.65123 1.93886 8.75 2.1875 8.75H7.8125C8.06114 8.75 8.2996 8.65123 8.47541 8.47541C8.65123 8.2996 8.75 8.06114 8.75 7.8125M1.25 7.8125V4.6875C1.25 4.43886 1.34877 4.2004 1.52459 4.02459C1.7004 3.84877 1.93886 3.75 2.1875 3.75H7.8125C8.06114 3.75 8.2996 3.84877 8.47541 4.02459C8.65123 4.2004 8.75 4.43886 8.75 4.6875V7.8125M5 5.3125H5.00333V5.31583H5V5.3125ZM5 6.25H5.00333V6.25333H5V6.25ZM5 7.1875H5.00333V7.19083H5V7.1875ZM4.0625 6.25H4.06583V6.25333H4.0625V6.25ZM4.0625 7.1875H4.06583V7.19083H4.0625V7.1875ZM3.125 6.25H3.12833V6.25333H3.125V6.25ZM3.125 7.1875H3.12833V7.19083H3.125V7.1875ZM5.9375 5.3125H5.94083V5.31583H5.9375V5.3125ZM5.9375 6.25H5.94083V6.25333H5.9375V6.25ZM5.9375 7.1875H5.94083V7.19083H5.9375V7.1875ZM6.875 5.3125H6.87833V5.31583H6.875V5.3125ZM6.875 6.25H6.87833V6.25333H6.875V6.25Z' stroke-width='0.75' stroke-linecap='round' stroke-linejoin='round')
                time.resume__date-start Oct 2022&nbsp;
                |- 
                time.resume__date-end present
            ul.resume__label-list.list.list--horizontal
              li.resume__label.label.text.text--xs HTML5
              li.resume__label.label.text.text--xs CSS3
              li.resume__label.label.text.text--xs Accesibility
            ul.resume__achievements-list
              li.resume__text.text.text--xs Achievement 1 – I created and recreated and created  I created and recreated
              li.resume__text.text.text--xs Achievement 1 – I created and recreated and created  I created and recreated
              li.resume__text.text.text--xs Achievement 1 – I created and recreated and created  I created and recreated
              li.resume__text.text.text--xs Achievement 1 – I created and recreated and created  I created and recreated
      section.resume__section.resume__section--projects
        h3.text.text--bold Featured Project
        .resume__section-content 
          .resume__section-content-row
            .resume__section-title-wrapper
              h3.text.text--bold Personal site
            ul.resume__label-list.list.list--horizontal
              li.resume__label.label.text.text--xs HTML5
              li.resume__label.label.text.text--xs CSS3
              li.resume__label.label.text.text--xs SCSS
              li.resume__label.label.text.text--xs PUG
              li.resume__label.label.text.text--xs BEM
            p.text.
              Personal portfolio created with a template engine (PUG), that presents my best project, CV and 
              represents all my path as a web developer ("Today I learned" section). <br> 
              More details at:
              #[a.resume__link.resume__link--github.link.link--icon(href="http:///github.com/vyachowski/vyachowski.com", target="_blank", rel="noopener noreferrer") github.com/vyachowski/vyachowski.com]
          .resume__section-content-row
            .resume__section-title-wrapper
              h3.text.text--bold Git quickstart Site
            ul.resume__label-list.list.list--horizontal
              li.resume__label.label.text.text--xs HTML5
              li.resume__label.label.text.text--xs Bootstrap
              li.resume__label.label.text.text--xs PUG
              li.resume__label.label.text.text--xs BEM
            p.text.
              Site with a basics command for Git and also a ready-to-use template 
              for any guide or simple wiki-site<br> 
              More details at:
              #[a.resume__link.resume__link--github.link.link--icon(href="http:///github.com/vyachowski/git-quickstart", target="_blank", rel="noopener noreferrer") github.com/vyachowski/git-quickstart]
          .resume__section-content-row  
            p.text 
              svg.resume__icon.resume__icon--portfolio.icon.icon--inline(width='14' height='14' viewbox='0 0 10 10' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
                path(d='M7.99 0.902027C7.96704 0.788998 7.90572 0.68738 7.81642 0.614389C7.72712 0.541399 7.61533 0.501526 7.5 0.501526C7.38466 0.501526 7.27287 0.541399 7.18357 0.614389C7.09427 0.68738 7.03295 0.788998 7.01 0.902027L6.89 1.49803C6.8707 1.59484 6.82318 1.68378 6.75342 1.75362C6.68366 1.82347 6.59478 1.87111 6.498 1.89053L5.902 2.00953C5.78842 2.03199 5.68616 2.09316 5.61267 2.18262C5.53918 2.27207 5.499 2.38425 5.499 2.50003C5.499 2.6158 5.53918 2.72798 5.61267 2.81744C5.68616 2.90689 5.78842 2.96807 5.902 2.99053L6.498 3.10953C6.59488 3.12886 6.68386 3.17645 6.75371 3.24631C6.82357 3.31616 6.87117 3.40515 6.8905 3.50203L7.0095 4.09803C7.03196 4.2116 7.09313 4.31386 7.18259 4.38735C7.27204 4.46085 7.38422 4.50102 7.5 4.50102C7.61577 4.50102 7.72795 4.46085 7.81741 4.38735C7.90686 4.31386 7.96803 4.2116 7.9905 4.09803L8.1095 3.50203C8.12883 3.40515 8.17642 3.31616 8.24628 3.24631C8.31613 3.17645 8.40512 3.12886 8.502 3.10953L9.098 2.99053C9.21157 2.96807 9.31383 2.90689 9.38732 2.81744C9.46082 2.72798 9.50099 2.6158 9.50099 2.50003C9.50099 2.38425 9.46082 2.27207 9.38732 2.18262C9.31383 2.09316 9.21157 2.03199 9.098 2.00953L8.502 1.89053C8.40512 1.8712 8.31613 1.8236 8.24628 1.75375C8.17642 1.68389 8.12883 1.59491 8.1095 1.49803L7.9905 0.902027H7.99ZM3.4745 2.84203C3.44138 2.74236 3.37773 2.65564 3.29255 2.59419C3.20738 2.53274 3.10502 2.49967 3 2.49967C2.89497 2.49967 2.79261 2.53274 2.70744 2.59419C2.62227 2.65564 2.55861 2.74236 2.5255 2.84203L2.184 3.86753C2.15946 3.94125 2.11808 4.00823 2.06314 4.06317C2.0082 4.11811 1.94121 4.15949 1.8675 4.18403L0.841996 4.52553C0.742325 4.55864 0.655612 4.6223 0.594159 4.70747C0.532706 4.79264 0.499634 4.895 0.499634 5.00003C0.499634 5.10505 0.532706 5.20741 0.594159 5.29259C0.655612 5.37776 0.742325 5.44141 0.841996 5.47453L1.8675 5.81653C1.94116 5.84101 2.00811 5.88232 2.06305 5.93717C2.11798 5.99201 2.15939 6.0589 2.184 6.13253L2.5255 7.15803C2.55861 7.2577 2.62227 7.34441 2.70744 7.40586C2.79261 7.46732 2.89497 7.50039 3 7.50039C3.10502 7.50039 3.20738 7.46732 3.29255 7.40586C3.37773 7.34441 3.44138 7.2577 3.4745 7.15803L3.816 6.13253C3.84053 6.05881 3.88191 5.99182 3.93685 5.93688C3.99179 5.88194 4.05878 5.84056 4.1325 5.81603L5.158 5.47453C5.25767 5.44141 5.34438 5.37776 5.40583 5.29259C5.46729 5.20741 5.50036 5.10505 5.50036 5.00003C5.50036 4.895 5.46729 4.79264 5.40583 4.70747C5.34438 4.6223 5.25767 4.55864 5.158 4.52553L4.1325 4.18403C4.05878 4.15949 3.99179 4.11811 3.93685 4.06317C3.88191 4.00823 3.84053 3.94125 3.816 3.86753L3.475 2.84203H3.4745ZM6.9745 6.84203C6.94138 6.74236 6.87773 6.65564 6.79255 6.59419C6.70738 6.53274 6.60502 6.49967 6.5 6.49967C6.39497 6.49967 6.29261 6.53274 6.20744 6.59419C6.12227 6.65564 6.05861 6.74236 6.0255 6.84203L5.9335 7.11753C5.90901 7.19119 5.8677 7.25814 5.81286 7.31308C5.75801 7.36801 5.69112 7.40942 5.6175 7.43403L5.342 7.52553C5.24233 7.55864 5.15561 7.6223 5.09416 7.70747C5.03271 7.79264 4.99963 7.895 4.99963 8.00003C4.99963 8.10505 5.03271 8.20741 5.09416 8.29259C5.15561 8.37776 5.24233 8.44141 5.342 8.47453L5.6175 8.56603C5.69121 8.59056 5.7582 8.63194 5.81314 8.68688C5.86808 8.74182 5.90946 8.80881 5.934 8.88253L6.0255 9.15803C6.05861 9.2577 6.12227 9.34441 6.20744 9.40586C6.29261 9.46732 6.39497 9.50039 6.5 9.50039C6.60502 9.50039 6.70738 9.46732 6.79255 9.40586C6.87773 9.34441 6.94138 9.2577 6.9745 9.15803L7.0665 8.88253C7.09098 8.80886 7.13229 8.74191 7.18714 8.68698C7.24198 8.63204 7.30887 8.59063 7.3825 8.56603L7.658 8.47453C7.75767 8.44141 7.84438 8.37776 7.90583 8.29259C7.96729 8.20741 8.00036 8.10505 8.00036 8.00003C8.00036 7.895 7.96729 7.79264 7.90583 7.70747C7.84438 7.6223 7.75767 7.55864 7.658 7.52553L7.3825 7.43353C7.30883 7.40904 7.24188 7.36774 7.18694 7.31289C7.13201 7.25804 7.0906 7.19115 7.066 7.11753L6.9745 6.84203Z')
              | see all of my projects on my portfolio: 
              a.resume__link.resume__link--github.link.link--icon(href="http:///github.com/vyachowski/", target="_blank", rel="noopener noreferrer") github.com/vyachowski/
      section.resume__section.resume__section--skills
        h3.text.text--bold Skills & Tools
        .resume__section-content 
          .resume__section-content-row--separated
            p.resume__text.label.label--xs.label-color--secondary Underline indicators
            ul.resume__label-list.list.list--horizontal 
              li.resume__label.label.text.text--xs Frequently used
              li.resume__label.label.text.text--xs Occasionally
          .resume__section-content-row--separated
            h3.text.text--bold Languages
            p.resume__text.label.label--xs.label-color--secondary Front-end
            ul.resume__label-list.list.list--horizontal 
              li.resume__label.label.text.text--xs Bootstrap
              li.resume__label.label.text.text--xs Tailwind CSS
              li.resume__label.label.text.text--xs React
            p.resume__text.label.label--xs.label-color--secondary Back-end
            ul.resume__label-list.list.list--horizontal 
              li.resume__label.label.text.text--xs Bootstrap
              li.resume__label.label.text.text--xs Tailwind CSS
              li.resume__label.label.text.text--xs React
          .resume__section-content-row--separated
            h3.text.text--bold Technologies
            p.resume__text.label.label--xs.label-color--secondary Front-end
            ul.resume__label-list.list.list--horizontal 
              li.resume__label.label.text.text--xs Bootstrap
              li.resume__label.label.text.text--xs Tailwind CSS
              li.resume__label.label.text.text--xs React
            p.resume__text.label.label--xs.label-color--secondary Back-end
            ul.resume__label-list.list.list--horizontal 
              li.resume__label.label.text.text--xs Bootstrap
              li.resume__label.label.text.text--xs Tailwind CSS
              li.resume__label.label.text.text--xs React
          .resume__section-content-row--separated
            h3.text.text--bold Tools
            p.resume__text.label.label--xs.label-color--secondary Other
            ul.resume__label-list.list.list--horizontal 
              li.resume__label.label.text.text--xs Git
              li.resume__label.label.text.text--xs Node.js
              li.resume__label.label.text.text--xs Figma
              li.resume__label.label.text.text--xs English
              li.resume__label.label.text.text--xs Russian