extends templates/bases/_base

block variables
  - const lang = "en"
  - const page_title = "Resume of a Fullstack developer – Slava Haikin"
  - const page_description = "CV (Resume) with a essential info about my path as a web-developer"
block additional__styles
  link(rel="stylesheet" href="css/resume.css")
  link(rel="preload" href="css/resume.css" as="style")
block content__header
  h1.page__title.title.title--centered CV / Resume
block content
  include templates/includes/_resume