// VARIABLES

// Colors
$background-color: #ffffff;
$dark-background-color: #ffffff;
$text-color: #637381;
$text-size: 16px;

// Text
$tablet-text-size: calc($text-size + 2px);
$laptop-text-size: calc($tablet-text-size + 2px);
$desktop-text-size: calc($laptop-text-size + 2px);
$basic-font: "Inter", Arial, system-ui, sans-serif;

// Fonts
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-VariableFont.ttf") format("truetype");
  font-display: swap;
}

// SERVICE STYLES

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// BASIC STYLES

:root {
  font-size: $text-size;
  font-family: $basic-font;
}

:root[data-theme='light'] {
  background-color: $background-color;
}
