// VARIABLES

// Colors
$background-color: #ffffff;
$dark-background-color: #ffffff;
$text-color: #637381;

// Text
$text-size: 16px;
$line-height: 1.5rem;
$tablet-text-size: calc($text-size + 2px);
$laptop-text-size: calc($tablet-text-size + 2px);
$desktop-text-size: calc($laptop-text-size + 2px);
$basic-font: "Inter", Arial, system-ui, sans-serif;

// Fonts
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-VariableFont.ttf") format("truetype");
  font-display: swap;
}

// SERVICE STYLES

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// BASIC STYLES

:root {
  font-size: $text-size;
  font-family: $basic-font;
}

:root[data-theme='light'] {
  background-color: $background-color;
}

body {
  margin: 0;
}

img {
  display: block;
  object-fit: contain;
}

// HEADER

.page__header {
  display: flex;
}

.navbar-toggler {
  all: unset;
  display: flex;
  flex-direction: column;
  width: 70px;
  cursor: pointer;
}

.navbar-toggler span {
  display: block;
  background: $text-color;
  border-radius:10px;
  height:7px;
  margin: 7px 0;
  transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.navbar-toggler span:nth-of-type(1){
  width:50%;
}

.navbar-toggler span:nth-of-type(2){
  width:100%;
}

.navbar-toggler span:nth-of-type(3){
  width:75%;
}

.toggled span:nth-of-type(1){
  transform-origin:bottom;
  transform:rotatez(45deg) translate(8px,0px)
}

.toggled span:nth-of-type(2){
  transform-origin:top;
  transform:rotatez(-45deg)
}

.toggled span:nth-of-type(3){
  transform-origin:bottom;
  width:50%;
  transform: translate(30px,-11px) rotatez(45deg);
}

.navbar {
  display: flex;
}

.navbar__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.socials__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

